.modal {
    .modalBackdrop {
        opacity: 0.5;
        background-color: var(--black);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        right: 0;
        bottom: 0;
    }

    .modalContent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        height: 80vh;
        width: 80vw;
        z-index: 2;
        border-radius: 10px;
        padding: 20px;
    }

    .modalContentChildren {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        height: 80vh;
        width: 80vw;
        z-index: 2;
        border-radius: 10px;
        overflow: scroll;
        padding: 20px 20px 100px 20px;
        box-shadow: 0 0 20px 0 var(--black);
    }

    .modalClose {
        display: flex;
        justify-content: flex-end;
        background-color: var(--white);

        position: fixed;
        bottom: 0;
        right: 0;
        padding: 15px;
        width: 100%;
        z-index: 2;
        border-top: solid 1px var(--gray-200);
        border-radius: 0 0 10px 10px;
    }
}
