.footer {
    background-color: black;
    min-height: 500px;
    color: white;
    display: flex;

    & > * {
        width: 100%;
        align-content: center;
        text-align: center;
    }
}
